{% extends 'base.html.twig' %}

{% block content %}
    <h1 class="page-header">タスク</h1>
    {% for label, flashes in app.session.flashbag.all %}
        {% for flash in flashes %}
            <div class="alert alert-{{ label }}">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                {{ flash }}
            </div>
        {% endfor %}
    {% endfor %}

    <div class="row">
        <div class="col-sm-8">
            <div class="panel panel-default">
                <div class="panel-heading">タスク一覧</div>
                <div class="panel-body">
                    <ul class="nav nav-tabs">
                        <li role="presentation"{% if type == 1 %} class="active"{% endif %}><a href="{{ path("app_todo_default_index",{"type": 1}) }}">未完了</a></li>
                        <li role="presentation"{% if type == 2 %} class="active"{% endif %}><a href="{{ path("app_todo_default_index",{"type": 2}) }}">完了</a></li>
                        <li role="presentation"{% if type == 3 %} class="active"{% endif %}><a href="{{ path("app_todo_default_index",{"type": 3}) }}">すべて</a></li>
                    </ul>
                    {% if pagination.pageCount > 0 %}
                        <table class="table">
                            <thead>
                            <tr>
                                <th{% if pagination.isSorted('a.Id') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Id', 'a.id') }}</th>
                                <th{% if pagination.isSorted('a.Title') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Title', 'a.title') }}</th>
                                <th>createdAt</th>
                                <th> </th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for todo in pagination %}
                                <tr>
                                    <td>{{ todo.id }}</td>
                                    <td>{{ todo.title }}</td>
                                    <td>{{ todo.createdAt|date("Y/m/d H:i:s") }}</td>
                                    <td>
                                        {% if not todo.status.isCompleted %}
                                            <a class="btn btn-danger" href="{{ path("app_todo_done_index",{"id": todo.id}) }}">Done</a>
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>

                        <div class="navigation">
                            {{ knp_pagination_render(pagination) }}
                        </div>
                    {% else %}
                        <div class="panel-body">
                            <p>タスクがありません</p>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            {% render(controller('AppBundle:Todo/Add:index')) %}
        </div>
    </div>

{% endblock %}